<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-book-open"></i> Kitap Kurdu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'articles' in request.path %}active{% endif %}" href="/articles">Makaleler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'about' in request.path %}active{% endif %}" href="/about">Hakkımızda</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle mr-1"></i> {{ request.user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/dashboard"><i class="fas fa-tachometer-alt mr-1"></i> Kontrol Paneli</a>
                        <a class="dropdown-item" href="/addarticle"><i class="fas fa-plus-circle mr-1"></i> Makale Ekle</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt mr-1"></i> Çıkış Yap</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if 'login' in request.path %}active{% endif %}" href="/login"><i class="fas fa-sign-in-alt mr-1"></i> Giriş Yap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'register' in request.path %}active{% endif %}" href="/register"><i class="fas fa-user-plus mr-1"></i> Kayıt Ol</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>