{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="content-section">
            <h3 class="page-title"><i class="fas fa-info-circle mr-2"></i> Hakkımızda</h3>
            <div class="about-content">
                <p class="lead">Projemize hoşgeldiniz, bu sayfa ileride değişecektir.</p>
                
                <!-- You can add more content here when you're ready to update -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit.</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <i class="fas fa-bullseye fa-3x text-primary mb-3"></i>
                <h5>Misyonumuz</h5>
                <p>Kaliteli içerik sunmak ve kitap sevgisini yaymak</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <i class="fas fa-eye fa-3x text-primary mb-3"></i>
                <h5>Vizyonumuz</h5>
                <p>Her eve bir kitap getirmek ve okuma alışkanlığını yaygınlaştırmak</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <i class="fas fa-heart fa-3x text-primary mb-3"></i>
                <h5>Değerlerimiz</h5>
                <p>Dürüstlük, şeffaflık ve kalite</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}