{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="content-section">
            <h3 class="page-title"><i class="fas fa-edit mr-2"></i> Makale Oluştur</h3>
            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                
                {{ form|crispy }}
                <br>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-plus-circle mr-2"></i> Makale Ekle
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}