{% extends "layout.html" %}

{% block title %}Makaleler{% endblock title %}

{% block body %}
<h2 class="page-title"><i class="fas fa-newspaper mr-2"></i>Makaleler</h2>

<div class="row mb-4">
    <div class="col-md-8">
        <form class="d-flex">
            <input class="form-control mr-2" type="search" name="keyword" placeholder="Makale ara..." aria-label="Search" {% if request.GET.keyword %} value="{{ request.GET.keyword }}" {% endif %}>
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search mr-1"></i> Ara
            </button>
        </form>
    </div>
    {% if request.user.is_authenticated %}
    <div class="col-md-4 text-md-right">
        <a href="/addarticle" class="btn btn-success">
            <i class="fas fa-plus-circle mr-1"></i> Yeni Makale Ekle
        </a>
    </div>
    {% endif %}
</div>

{% if articles %}
    <div class="row">
        {% for article in articles %}
        <div class="col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">{{ article.title }}</h